body{margin-top:20px;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        border: none !important;
        border-radius: 0 !important;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
    .card-body {
        border: none !important;
    }
    .card .card-header {
        font-weight: 500;
        border: none !important;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }
    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
        font-weight: bold;
    }
    
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        font-weight: bold;
    }
    .home {
        font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
    }
    .card-body p span {
        font-weight: bold;
    }
    .btn.btn-primary {
        background: var(--bs-blue) !important;
        border: 1px solid var(--primary) !important;
        color: var(--white) !important;
        border-radius: 0;
        padding: 3px 17px;
    }
    .btn {
        border: 1px solid #000000a6;
    padding: 1px 13px;
    border-radius: 0;
    margin-left: 12px;
    color: #000000a6;
    }
    .btn.btn-ajouter.active {
        background: #17a2b878;
        border-radius: 0;
        color: white;
        font-weight: 600;
        padding: 2px 9px;
        margin-left: 5px;
    }
    .form-control {
        border: 0 !important;
        border-bottom: 1px solid var(--bs-gray-300) !important;
        border-radius: 0 !important;
    }
    .card-link.url {
        background: var(--bs-green);
        color: white;
        text-decoration: none;
        font-weight: 400;
        padding: 2px 10px;
    }
    .card-title {
        border-bottom: 1px solid var(--bs-gray-200);
    padding-bottom: 13px;
    color: cadetblue!important;
    }
    .card-subtitle {
        color: cornflowerblue;
    }
    .card-text {
        font-family: sans-serif;
    color: #0000007a;
    }
    .list-group-item {
        font-family: sans-serif!important;
        color: #00000094;
    }
    .list-group-item span {
        font-weight: 600;
        color: darkcyan;
    }
    .text-danger {
        margin-top: 8px;
        font-weight: 300;
    }
    .fontar {
        font-family: system-ui !important;
    }
    table tbody tr td {
        font-weight: 300;
    }
    @media (max-width: 767px) {
        .card-header {
            text-align: center;
        }
    }